$primary: #1C91D6;
$secondary: #D4CE15;
$white: #fff;
$primary-text-color: #1a1a1a;
$secondary-text-color: #fff;
$font-stack: "Helvetica Neue", Helvetica, sans-serif;

body { color: $primary-text-color; background: $primary; font: 100% $font-stack; margin: 0; }
.container { margin: 20px 10%; }
header {
  color: $secondary-text-color; background: $primary; margin: 0; padding: 20px 20px 10px 20px; text-align: center;
  h1 { margin: 0; }
}
.main { background: $white; min-height: 50%; }
.question{
  h3 { margin: 0; padding: 10%;}
}
.quiz-button {
  background: $primary; height:100px; text-align:center; text-align:center; color:$white; width: 25%; float:left;
  span { margin: 10px; display: block;}
  &:hover, &:active, &:focus {
    background: darken($primary, 3%);
    -webkit-transition: color .5s ease-in-out; -moz-transition: color .25s ease-in-out; -o-transition: color .25s ease-in-out; -ms-transition: color .25s ease-in-out; transition: color .25s ease-in-out;
  }
}
.results { text-align: center; padding: 10%; }
.therapists {
  text-align: left;
  a { background: $secondary; padding: 2px 3px; margin: 10px;  font-size: 10px; font-weight: bold;}
 }
